<main>
  <section class="profile" *ngIf="isUserLoggedIn">
    <div class="profile-card">
      <div class="profile-photo" (click)="changeAvatar()">
        <img class="profile-photo" [src]="avatarUrl" *ngIf="avatarUrl">
      </div>
      <div class="profile-info">
        <div class="profile-edit">
          <h2>My Profile</h2>
          <button class="edit-button" (click)="toggleEdit()" *ngIf="!isEditing">Edit</button>
        </div>
        <div *ngIf="userData">
          <div class="input" *ngIf="isEditing">
            <form #profileForm="ngForm" style="display: flex; flex-direction: column">
              <div class="input-row">
                <div>
                  <p>Name:</p>
                  <input
                    type="text"
                    [(ngModel)]="userData.first_name"
                    name="firstName"
                    required
                    minlength="2"
                    #firstName="ngModel"
                  />
                </div>

                <span *ngIf="firstName.invalid && firstName.touched" class="error">
        Name is required (min 2 characters)
      </span>
              </div>
              <div class="input-row">
                <div>
                  <p>Surname:</p>
                  <input
                    type="text"
                    [(ngModel)]="userData.last_name"
                    name="lastName"
                    required
                    minlength="2"
                    #lastName="ngModel"
                  />
                </div>
                <span *ngIf="lastName.invalid && lastName.touched" class="error">
        Surname is required (min 2 characters)
      </span>
              </div>
              <div class="input-row">
                <div>
                  <p>Phone number:</p>
                  <input
                    type="text"
                    [(ngModel)]="userData.phone_number"
                    name="phoneNumber"
                    required
                    pattern="^\+380\d{9}$"
                    #phoneNumber="ngModel"
                  />
                </div>

                <span *ngIf="phoneNumber.invalid && phoneNumber.touched" class="error">
        Must be a valid 10-digit phone number
      </span>
              </div>
              <div class="input-row">
                <div>
                  <p>Email:</p>
                  <input type="text"
                         disabled [(ngModel)]="userData.email"
                         [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <button
                class="save-btn"
                (click)="saveData()"
                *ngIf="isEditing"
                [disabled]="profileForm.invalid"
              >
                Save
              </button>
            </form>
          </div>


          <div class="input" *ngIf="!isEditing">
            <div class="input-row" *ngIf="userData.first_name">
              <div><p>Name:</p>
                <p style="text-decoration: underline;">{{ userData.first_name }}</p></div>

            </div>
            <div class="input-row" *ngIf="userData.last_name">
              <div>

                <p>Surname:</p>
                <p style="text-decoration: underline;">{{ userData.last_name }}</p>
              </div>
            </div>
            <div class="input-row" *ngIf="userData.phone_number">
              <div>

                <p>Phone number:</p>
                <p style="text-decoration: underline;">{{ userData.phone_number }}</p>
              </div>
            </div>
            <div class="input-row" *ngIf="userData.email">
              <div>

                <p>Email:</p>
                <p style="text-decoration: underline;">{{ userData.email }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="xpay-accounts">
      <h2>My xPay accounts</h2>
      <ul>
        <li *ngFor="let method of paymentMethods">
          <div class="payment-method-block">
            <div class="payment-method-text">
              <span>{{ method.type }}</span>
              <span>{{ method.card_number }}</span>
            </div>
            <button class="soon-btn">{{ method.isActive ? 'Block' : 'Unlock' }}</button>
          </div>
        </li>
      </ul>
    </div>

    <div class="reservations">
      <div class="reservations-filter">
        <h2>My reservations</h2>
      </div>

      <div *ngFor="let reservation of reservations" class="reservation">
        <b>{{ reservation.room }}</b>
        <button class="soon-btn" (click)="showTicketInfo(reservation)">{{ reservation.status }}</button>
      </div>

    </div>
  </section>
  <section class="login" *ngIf="!isUserLoggedIn"> <!-- Показується тільки якщо користувач не увійшов у систему -->
    <h1>You must be logged in to view your profile</h1>
    <button routerLink="/login" class="log_in">Log in</button>
    <button routerLink="/sign_up" class="sign_up">Sign up</button>
  </section>
</main>
<app-footer></app-footer>

