<div class="room-pick">
  <h2>Rooms</h2>

  <div class="room-card">
    <!-- Image Section -->
    <img [src]="room.imageUrl" [alt]="'room-img'" class="room-image" />

    <!-- Room Info Section -->
    <div class="room-info">
      <h3>{{ room.type }}</h3>
      <p>{{ room.description }}</p>
      <p class="room-details">
        <span><img src="assets/images/peoples.png" alt="People" /> {{ room.maxOccupancy }} People</span>
        <span><img src="assets/images/bed.png" alt="Beds" /> {{ room.bedType }}</span>
      </p>
    </div>

    <!-- Booking Section -->
    <div class="booking">
      <span class="price">${{ room.price.toFixed(2) }}</span>
<!--      <button class="book-button" (click)="bookRoom(room)">BOOK</button>-->
    </div>
  </div>
</div>
