<div class="login-container">
  <div class="login-box">
    <h1>Welcome back, <br>administrator!</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <!-- Поле для вводу email -->
      <div class="input-group" [class.invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        <input
          formControlName="email"
          type="email"
          class="email-input"
          placeholder="Enter your email"
          required
        />
        <div class="error-message" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          Please enter a valid email address.
        </div>
      </div>

      <div class="input-group" [class.invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        <input
          formControlName="password"
          type="password"
          class="password-input"
          placeholder="Enter your password"
          required
        />
        <div class="error-message" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          Password is required.
        </div>
      </div>

      <button type="submit" [disabled]="loginForm.invalid">Log in</button>
    </form>
  </div>
</div>
