<div class="confirmation">
  <div class="reservation">
    <h3>Your Reservation</h3>
    <p><strong>Best Available Rate</strong> <span class="info-icon">i</span></p>
    <p>{{ room.name }} - {{ guests }} guest(s), {{ nights }} night(s)</p>
    <p><strong>Check-in:</strong> {{ formattedCheckIn }}</p>
    <p><strong>Check-out:</strong> {{ formattedCheckOut }}</p>
    <p><strong>Rate per night:</strong> ${{ room.price.toFixed(2) }}</p>
    <p><strong>Subtotal:</strong> ${{subtotal.toFixed(2) }}</p>
    <p><strong>Taxes:</strong> ${{ taxes.toFixed(2) }}</p>
    <p><strong>Total:</strong> ${{ total.toFixed(2) }}</p>
  </div>


  <div class="guest-info">
    <h3>Guest Information</h3>
    <input type="text" [(ngModel)]="userData.first_name" placeholder="First Name" required />
    <input type="text" [(ngModel)]="userData.last_name" placeholder="Last Name" required />
    <input type="email" [(ngModel)]="userData.email" placeholder="Email Address" required />
    <input type="tel" [(ngModel)]="userData.phone_number" placeholder="Phone Number" required />
    <input type="text" [(ngModel)]="userData.address" placeholder="Address" />
    <input type="text" [(ngModel)]="userData.city" placeholder="City" />
    <select  required>
      <option>Ukraine</option>
      <!-- Add more countries as needed -->
    </select>
    <input type="text" [(ngModel)]="userData.postal_code" placeholder="Postal Code" />
  </div>

  <div class="payment-method">
    <h3>Payment Method</h3>
    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
    <p>OR</p>
    <input type="text" placeholder="Name on Card" required />
    <input type="text" placeholder="Card Number" required />
    <input type="text" placeholder="MM/YY" required />
    <div class="checkboxes">
      <label>
        <input type="checkbox" /> Use the same address as contact information.
      </label>
      <label>
        <input type="checkbox" /> Notify me about special offers.
      </label>
      <label>
        <input type="checkbox" required />
        I have read and agree to the&nbsp;<a href="#">Terms & Conditions</a>.
      </label>
    </div>
    <button class="book-now" (click)="bookRoom()">BOOK NOW</button>
  </div>

</div>
