<div class="container">
  <div class="search-container">
    <div class="search">
      <input type="text" placeholder="Search" [(ngModel)]="searchQuery">
      <button title="Search" class="search-button" (click)="searchHotels2()"></button>
    </div>
    <button class="filter" (click)="openFilterDialog()">Filter</button>
    <button class="sort" (click)="openSortDialog()">Sort</button>
  </div>
  <main>
    <div class="events-grid" *ngIf="events.length > 0; else noEventsMessage">
      <div class="event-card" *ngFor="let event of events">
        <div class="event-image">
          <img class="event-image" [src]="event.imageUrl" alt="event_image">
        </div>
        <div class="event-info">
          <h3>{{ event.name }}</h3>
          <p>{{ event.description }}</p>
          <button [routerLink]="'/event/' + event.id" class="book-button">Book</button>
        </div>
      </div>
    </div>

  <div class="events-grid" *ngIf="!category && !rooms.length && hotels.length">
    <div class="event-card" *ngFor="let hotel of hotels">
      <div class="event-image"></div>
      <div class="event-info">
        <h3>{{ hotel.name }}</h3>
        <p>Address: {{ hotel.address }}</p>
        <button [routerLink]="'/hotel/' + hotel.id + '/rooms'" class="book-button">Explore</button>
      </div>
    </div>
  </div>

  <div class="events-grid" *ngIf="!category && rooms.length">
    <div class="event-card" *ngFor="let room of rooms">
      <div class="event-image"></div>
      <div class="event-info">
        <h3>Room Type: {{ room.type }}</h3>
        <p>Price: ${{ room.price }}</p>
        <p *ngIf="room.available">Available</p>
        <p *ngIf="!room.available">Not Available</p>
        <button class="book-button">Book</button>
      </div>
    </div>
  </div>

  <ng-template #noEventsMessage>
    <div class="no-events-message" *ngIf="!hotels?.length && !rooms?.length">
      <p>There are no hotels or rooms available.</p>
    </div>
  </ng-template>

  <div *ngIf="hotels?.length && totalCount && hotels.length < totalCount" class="load-more-container">
    <button (click)="loadNextPage()">Load More</button>
  </div>

  <div *ngIf="!hotels?.length" class="no-events-message">
    <p>No hotels found for your search query.</p>
  </div>

  </main>
</div>
<app-footer></app-footer>
