<div class="nav-bar-container">
  <div class="title-block">
    <img src="assets/images/title.png" alt="title"/>
  </div>
  <div class="main-pages-block">
    <div routerLink="/hotels">Events</div>
    <div routerLink="/about_us">About us</div>
    <div routerLink="/contacts">Contacts</div>
  </div>
  <div class="account-block">
    <div routerLink="/profile">My Profile</div>
    <div>Log out</div>
    <div routerLink="/sign_up">Sign up</div>
    <div routerLink="/login">Log in</div>
  </div>
</div>
