<div class="reset-container">
  <div class="reset-box">
    <h1 *ngIf="!isTokenPresent">Reset Password</h1>
    <h1 *ngIf="isTokenPresent">Set New Password</h1>

    <!-- Сообщение и отладочная ссылка после запроса сброса пароля -->
    <div *ngIf="showCheckEmailMessage" class="info-message">
      <p style="margin-bottom: 20px">Check your email for password reset link.</p>
      <a *ngIf="isGoToResetPageDisplayed"
        (click)="navigateToPasswordReset()" class="debug-link">Go to password reset page</a>
    </div>

    <!-- Форма запроса сброса пароля -->
    <form *ngIf="!isTokenPresent && !showCheckEmailMessage" [formGroup]="resetRequestForm">
      <div class="input-group" [class.invalid]="resetRequestForm.get('email')?.invalid && resetRequestForm.get('email')?.touched">
        <input formControlName="email" type="email" placeholder="Your email" required />
      </div>
      <div class="input-group">
        <re-captcha (resolved)="recaptchaResolved($event)" siteKey="{{ environment.recaptchaKey }}"></re-captcha>
      </div>
      <button type="button" (click)="requestPasswordReset()">Send Reset Link</button>
    </form>

    <!-- Форма установки нового пароля -->
    <form *ngIf="isTokenPresent" [formGroup]="passwordResetForm">
      <div class="input-group" [class.invalid]="passwordResetForm.get('password')?.invalid && passwordResetForm.get('password')?.touched">
        <input formControlName="password" type="password" placeholder="New Password" required />
      </div>
      <button type="button" (click)="resetPassword()">Reset Password</button>
    </form>
    <div class="signup-link">
      <a href="/login">Already have an account? Sign in!</a>
    </div>
  </div>
</div>
