.reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0e3f88;
  padding: 20px;
  box-sizing: border-box;
}

.reset-box {
  background-color: #f2f2f2;
  padding: 2rem;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 600px;
}

h1 {
  margin-bottom: 1rem;
  color: #425BDF;
  font-size: 2rem;
}

.input-group {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.input-group input {
  width: 80%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 40px;
  font-size: 1rem;
}

.input-group.invalid input {
  border: 1px solid red;
}

button {
  width: 80%; /* Подгоняем под ширину контейнера */
  padding: 0.75rem;
  border: none;
  border-radius: 40px;
  background-color: #425BDF;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  transform: scale(1.05);
  background-color: #35509e;
}

button:active {
  transform: scale(0.95);
}

.g-recaptcha {
  margin: 1rem 0;
}

.signup-link {
  margin-top: 1rem;
}

.signup-link a {
  color: #425BDF;
  text-decoration: none;
  font-size: 0.9rem;
}

.debug-link {
  color: #425BDF;
  font-size: 10px;
  margin-top: 30px;
}
